.box{
    height: 50px;
    width: 50px;
    background-color: aqua;
    margin: 20px;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.flex-container1{
    display: flex;
    flex-direction: row;
}
.animation{
    animation-direction: alternate;
    animation-name: rrr;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: aqua;
    animation-delay: 5s;
}
@keyframes rrr{
    from{
        width:110px;
        height:110px;
    }
    to{
        width: 510px;
        height: 110px;
    }
}


.grid-container
{
    background-color: rgb(255, 255, 255);
    display:grid;
    grid-template-columns: 420px 420px 420px 110px;
    row-gap: 10px;
    column-gap: 20px;
    height: auto;
    border: 5px solid rgb(36, 19, 145);
}
.grid-item
{
    height: 70px;
    width: 100px;
    color: white; 
}
.gr1{
    grid-column: 1/3 ;
    
}
.gr2
{
    grid-row: 1/3;
}
